@charset "UTF-8";

#container{
	width: 900px;
	margin: 0 auto;
}

#header{
	background-color: #FFE2E2;
	color: white;
	height: 150px;
}

#nav{
	background-color: #F0E6FF;
}

.button{
	text-decoration:none;
	font-family: "고딕", "궁서";
	/* 폰트가 없으면 순서대로 있는것들 찾아감 */
	font-size: 14px;
	padding: 10px 20px;
	font-weight: bold;
	color: #299A57;
	border: 1px solid black;
	/* 패딩때문에 공간이 색칠된 범위보다 넓어짐 */
	background-color: #481CE3;
}

.button:hover{
	background-color: #FDFFBC;
}

.button:active{
	background-color: #D5BBFC;
	color: white;
	position: relative;
	top: 2px;
}

#leftSidebar{
	background-color: #C7F9ED;
	width: 250px;
	height: 300px;
	float: left; /* 또는 포지션 변경*/
}

#contents{
	background-color: #b9ab64;
	width: 400px;
	height: 300px;

	float: left;
}

#rightSidebar{
	background-color: #31dbe0;
	width: 250px;
	height: 300px;
	float: left;
}

#footer{
	background-color: #E8ADEE;
	clear: both;
	 /* 양쪽 경계에 영향을 안받도록..? */

}