<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="d" class="spring_app03.DotPrinter">
	   <constructor-arg>
            <value>도트프린터</value>
       </constructor-arg>
    </bean>
    
    <bean id="l" class="spring_app03.LaserPrinter">
    	<constructor-arg>
            <value>레이저프린터</value>
        </constructor-arg>
    </bean>

</beans>
